<!DOCTYPE html>
<html lang="en">

    <%- include ('../components/head')%>
    
<body>
    <%- include('../components/header') %>

    
    <div class="formularioDoAbout">

        
        <img src="criancas_natureza_dicas.jpg" alt="">
        
              
        <b>adotar</b>
        <p>Aprenda a pronunciar
        verbo
        1.
        transitivo direto e transitivo direto predicativo
        JURÍDICO (TERMO)
        aceitar legalmente (alguém) [como filho], concedendo-lhe direitos; perfilhar.
        "adotou o órfão (como filho)"
        2.
        transitivo direto
        optar por (ideia, doutrina, opinião etc.); assumir, seguir.
        "adotaram a religião budista"</p>

    </div>
   

    <%- include ('../components/footer') %>

</body>
</html>
