    <%- include ('../components/head')%>
    
<body>
    
        <%- include('../components/header') %>



        <%- include ('../components/formulario')%>



    

    <%- include ('../components/footer') %>

</body>
</html>
