<!DOCTYPE html>
<html lang="en">

<%- include ('../components/head')%>

<body>

    <%- include('../components/header') %>


    
   <div class="formularioDoHome">

      
      <h3>Dê o primeiro passo, adote uma criança. Adote uma vida!</h3>

      <img src="adote.jpg">
      <span>Fonte da imagem em https://www.senado.gov.br/noticias/Jornal/emdiscussao/adocao/realidade-brasileira-sobre-adocao/perfil-das-criancas-disponiveis-para-adocao.aspx</span>

     <a link rel="stylesheet" href="/form" id="clicarPrimeiraPagina">Clique aqui para adotar! </a>
      
     
   </div>




   <%- include ('../components/footer') %>

</body>
</html>
